'.platform-darwin .image-editor':
  'cmd-+': 'image-editor:zoom-in'
  'cmd-=': 'image-editor:zoom-in'
  'cmd--': 'image-editor:zoom-out'
  'cmd-_': 'image-editor:zoom-out'
  'cmd-r': 'image-editor:reload'
  'cmd-8': 'image-editor:center'
  'cmd-9': 'image-editor:zoom-to-fit'
  'cmd-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'cmd-alt-b': 'image-editor:blur'
  'cmd-alt-s': 'image-editor:sharpen'
  'alt-c': 'image-editor:crop-to-selection'
  'cmd-]': 'image-editor:rotate-90-cw'
  'cmd-[': 'image-editor:rotate-90-ccw'
  'cmd-shift-r': 'image-editor:rotate-180'
  'cmd-h': 'image-editor:flip-horizontal'
  'cmd-shift-h': 'image-editor:flip-vertical'
  'cmd-shift-g': 'image-editor:grayscale'
  'cmd-alt-i': 'image-editor:show-properties'
  'cmd-i': 'image-editor:invert-colors'
  'cmd-c': 'image-editor:copy-selection'
  'cmd-shift-a': 'image-editor:auto-select'
  'cmd-alt-a': 'image-editor:auto-select-with-border'
  'cmd-a': 'image-editor:select-all'
  'cmd-shift-v': 'image-editor:select-visible-area'
  'cmd-z': 'image-editor:undo'
  'cmd-shift-z': 'image-editor:redo'
  'cmd-y': 'image-editor:redo'
  'pageup': 'image-editor:previous-image'
  'pagedown': 'image-editor:next-image'
  'home': 'image-editor:first-image'
  'end': 'image-editor:last-image'
  'escape': 'image-editor:hide-selection'

'.platform-win32 .image-editor':
  'ctrl-+': 'image-editor:zoom-in'
  'ctrl-=': 'image-editor:zoom-in'
  'ctrl--': 'image-editor:zoom-out'
  'ctrl-_': 'image-editor:zoom-out'
  'ctrl-r': 'image-editor:reload'
  'ctrl-8': 'image-editor:center'
  'ctrl-9': 'image-editor:zoom-to-fit'
  'ctrl-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'ctrl-alt-b': 'image-editor:blur'
  'ctrl-alt-s': 'image-editor:sharpen'
  'alt-c': 'image-editor:crop-to-selection'
  'ctrl-]': 'image-editor:rotate-90-cw'
  'ctrl-[': 'image-editor:rotate-90-ccw'
  'ctrl-shift-r': 'image-editor:rotate-180'
  'ctrl-h': 'image-editor:flip-horizontal'
  'ctrl-shift-h': 'image-editor:flip-vertical'
  'ctrl-shift-g': 'image-editor:grayscale'
  'ctrl-alt-i': 'image-editor:show-properties'
  'ctrl-i': 'image-editor:invert-colors'
  'ctrl-c': 'image-editor:copy-selection'
  'ctrl-shift-a': 'image-editor:auto-select'
  'ctrl-alt-a': 'image-editor:auto-select-with-border'
  'ctrl-a': 'image-editor:select-all'
  'ctrl-shift-v': 'image-editor:select-visible-area'
  'ctrl-z': 'image-editor:undo'
  'ctrl-shift-z': 'image-editor:redo'
  'ctrl-y': 'image-editor:redo'
  'pageup': 'image-editor:previous-image'
  'pagedown': 'image-editor:next-image'
  'home': 'image-editor:first-image'
  'end': 'image-editor:last-image'
  'escape': 'image-editor:hide-selection'

'.platform-linux .image-editor':
  'ctrl-+': 'image-editor:zoom-in'
  'ctrl-=': 'image-editor:zoom-in'
  'ctrl--': 'image-editor:zoom-out'
  'ctrl-_': 'image-editor:zoom-out'
  'ctrl-r': 'image-editor:reload'
  'ctrl-8': 'image-editor:center'
  'ctrl-9': 'image-editor:zoom-to-fit'
  'ctrl-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'ctrl-alt-b': 'image-editor:blur'
  'ctrl-alt-s': 'image-editor:sharpen'
  'alt-c': 'image-editor:crop-to-selection'
  'ctrl-]': 'image-editor:rotate-90-cw'
  'ctrl-[': 'image-editor:rotate-90-ccw'
  'ctrl-shift-r': 'image-editor:rotate-180'
  'ctrl-h': 'image-editor:flip-horizontal'
  'ctrl-shift-h': 'image-editor:flip-vertical'
  'ctrl-shift-g': 'image-editor:grayscale'
  'ctrl-alt-i': 'image-editor:show-properties'
  'ctrl-i': 'image-editor:invert-colors'
  'ctrl-c': 'image-editor:copy-selection'
  'ctrl-shift-a': 'image-editor:auto-select'
  'ctrl-alt-a': 'image-editor:auto-select-with-border'
  'ctrl-a': 'image-editor:select-all'
  'ctrl-shift-v': 'image-editor:select-visible-area'
  'ctrl-z': 'image-editor:undo'
  'ctrl-shift-z': 'image-editor:redo'
  'ctrl-y': 'image-editor:redo'
  'pageup': 'image-editor:previous-image'
  'pagedown': 'image-editor:next-image'
  'home': 'image-editor:first-image'
  'end': 'image-editor:last-image'
  'escape': 'image-editor:hide-selection'
