'.platform-darwin .image-viewer':
  'cmd-+': 'image-viewer:zoom-in'
  'cmd-=': 'image-viewer:zoom-in'
  'cmd--': 'image-viewer:zoom-out'
  'cmd-_': 'image-viewer:zoom-out'
  'cmd-r': 'image-viewer:reload'
  'cmd-8': 'image-viewer:center'
  'cmd-9': 'image-viewer:zoom-to-fit'
  'cmd-0': 'image-viewer:reset-zoom'
  'alt-b': 'image-viewer:blur-selection-medium'
  'alt-c': 'image-viewer:crop-to-selection'
  'cmd-s': 'image-viewer:save'
  'cmd-shift-s': 'image-viewer:save-image'

'.platform-win32 .image-viewer':
  'ctrl-+': 'image-viewer:zoom-in'
  'ctrl-=': 'image-viewer:zoom-in'
  'ctrl--': 'image-viewer:zoom-out'
  'ctrl-_': 'image-viewer:zoom-out'
  'ctrl-r': 'image-viewer:reload'
  'ctrl-8': 'image-viewer:center'
  'ctrl-9': 'image-viewer:zoom-to-fit'
  'ctrl-0': 'image-viewer:reset-zoom'
  'alt-b': 'image-viewer:blur-selection-medium'
  'alt-c': 'image-viewer:crop-to-selection'
  'ctrl-s': 'image-viewer:save'
  'ctrl-shift-s': 'image-viewer:save-image'

'.platform-linux .image-viewer':
  'ctrl-+': 'image-viewer:zoom-in'
  'ctrl-=': 'image-viewer:zoom-in'
  'ctrl--': 'image-viewer:zoom-out'
  'ctrl-_': 'image-viewer:zoom-out'
  'ctrl-r': 'image-viewer:reload'
  'ctrl-8': 'image-viewer:center'
  'ctrl-9': 'image-viewer:zoom-to-fit'
  'ctrl-0': 'image-viewer:reset-zoom'
  'alt-b': 'image-viewer:blur-selection-medium'
  'alt-c': 'image-viewer:crop-to-selection'
  'ctrl-s': 'image-viewer:save'
  'ctrl-shift-s': 'image-viewer:save-image'
