'.platform-darwin .image-editor':
  'cmd-+': 'image-editor:zoom-in'
  'cmd-=': 'image-editor:zoom-in'
  'cmd--': 'image-editor:zoom-out'
  'cmd-_': 'image-editor:zoom-out'
  'cmd-r': 'image-editor:reload'
  'cmd-8': 'image-editor:center'
  'cmd-9': 'image-editor:zoom-to-fit'
  'cmd-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'alt-c': 'image-editor:crop-to-selection'
  'cmd-s': 'image-editor:save'
  'cmd-shift-s': 'image-editor:save-image'
  'cmd-]': 'image-editor:rotate-90-cw'
  'cmd-[': 'image-editor:rotate-90-ccw'
  'cmd-shift-r': 'image-editor:rotate-180'
  'cmd-h': 'image-editor:flip-horizontal'
  'cmd-shift-h': 'image-editor:flip-vertical'
  'cmd-shift-g': 'image-editor:grayscale'
  'cmd-i': 'image-editor:invert-colors'
  'cmd-c': 'image-editor:copy-selection'
  'cmd-z': 'image-editor:undo'
  'cmd-shift-z': 'image-editor:redo'
  'cmd-y': 'image-editor:redo'

'.platform-win32 .image-editor':
  'ctrl-+': 'image-editor:zoom-in'
  'ctrl-=': 'image-editor:zoom-in'
  'ctrl--': 'image-editor:zoom-out'
  'ctrl-_': 'image-editor:zoom-out'
  'ctrl-r': 'image-editor:reload'
  'ctrl-8': 'image-editor:center'
  'ctrl-9': 'image-editor:zoom-to-fit'
  'ctrl-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'alt-c': 'image-editor:crop-to-selection'
  'ctrl-s': 'image-editor:save'
  'ctrl-shift-s': 'image-editor:save-image'
  'ctrl-]': 'image-editor:rotate-90-cw'
  'ctrl-[': 'image-editor:rotate-90-ccw'
  'ctrl-shift-r': 'image-editor:rotate-180'
  'ctrl-h': 'image-editor:flip-horizontal'
  'ctrl-shift-h': 'image-editor:flip-vertical'
  'ctrl-shift-g': 'image-editor:grayscale'
  'ctrl-i': 'image-editor:invert-colors'
  'ctrl-c': 'image-editor:copy-selection'
  'ctrl-z': 'image-editor:undo'
  'ctrl-shift-z': 'image-editor:redo'
  'ctrl-y': 'image-editor:redo'

'.platform-linux .image-editor':
  'ctrl-+': 'image-editor:zoom-in'
  'ctrl-=': 'image-editor:zoom-in'
  'ctrl--': 'image-editor:zoom-out'
  'ctrl-_': 'image-editor:zoom-out'
  'ctrl-r': 'image-editor:reload'
  'ctrl-8': 'image-editor:center'
  'ctrl-9': 'image-editor:zoom-to-fit'
  'ctrl-0': 'image-editor:reset-zoom'
  'alt-b': 'image-editor:blur-medium'
  'alt-c': 'image-editor:crop-to-selection'
  'ctrl-s': 'image-editor:save'
  'ctrl-shift-s': 'image-editor:save-image'
  'ctrl-]': 'image-editor:rotate-90-cw'
  'ctrl-[': 'image-editor:rotate-90-ccw'
  'ctrl-shift-r': 'image-editor:rotate-180'
  'ctrl-h': 'image-editor:flip-horizontal'
  'ctrl-shift-h': 'image-editor:flip-vertical'
  'ctrl-shift-g': 'image-editor:grayscale'
  'ctrl-i': 'image-editor:invert-colors'
  'ctrl-c': 'image-editor:copy-selection'
  'ctrl-z': 'image-editor:undo'
  'ctrl-shift-z': 'image-editor:redo'
  'ctrl-y': 'image-editor:redo'
